.contact-social{
    margin-top: inherit;
}
.social-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.social-links li{
    margin-bottom: 5px;
}
.social-links li a{
    display: flex;
    font-size: 32px;
    height: 64px;
    width: 64px;
    line-height: 64px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.contact-list li{
    align-items: center;
    justify-content: center;
}

/*.has-dark.is-dark .header-main{
    background: black;
}*/
.inner-pages{
    padding-top: 120px;
}
#profileModal label{
    margin-bottom: 0;
}
.mandatory{
    color: red;
}

.holders .team-social li a {
    font-size: 16px;
    line-height: 31px;
    height: 28px;
    width: 28px;
}
.submit-wrap .btn-icon{
    min-width: 45px;
}
.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}
.btn-success.disabled, .btn-success:disabled
, .btn-grad.disabled, .btn-grad:disabled

{
    cursor: not-allowed;
    color: #fff;
    background: #6c757d;
    border-color: #6c757d;
}
.section-about ul{
    list-style: square;
    color: #8284a5;
    padding-left: 18px;
}
strong, b{
    font-size: 18px;
}

.roadmap .list-dot li:before{
    top: 6px;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
    line-height: 22px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background: #595e70;
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    font-size: .68rem;
    content: '\f110';
    animation: loader 1s infinite;
}
.roadmap .list-dot li.completed:before{
    background: #2b56f5;
    content: '\f00c';
    animation: none;
    top: 16px;
}

@keyframes loader {
    0% {
        transform: rotate(0)
    }
    to {
        transform: rotate(1turn)
    }
}

.list-dot li{
    padding-left: 28px
}
#WEB3_CONNECT_MODAL_ID{
    position: absolute;
    z-index: 10;
}
.walletconnect-qrcode__base.animated{
    visibility: visible;
}

@media (min-width: 576px){
    .btn-sm.btn-grad {
        padding: 5px 12px;
    }

    .partner-logo-lg {
        width: 20%;
    }
}
@media (min-width: 992px)
{
    .roadmap-step {
        padding: 30px 20px 30px;
    }
}
@media (max-width: 992px){
    .pc{display: none;}
}
@media(min-width: 993px){
    .mobile{display: none;}
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.carddiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
body .containercard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 40px 0;
}

body .containercard .card {
  position: relative;
  min-width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
  background-color: #1f1f22;
}

body .containercard .card:nth-child(1) .box .content a {
  background: #2196f3;
}

body .containercard .card:nth-child(2) .box .content a {
  background: #e91e63;
}

body .containercard .card:nth-child(3) .box .content a {
  background: #23c186;
}

body .containercard .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #2a2b2f;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

body .containercard .card .box:hover {
  transform: translateY(-50px);
}

body .containercard .card .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}

body .containercard .card .box .content {
  padding: 20px;
  text-align: center;
}

body .containercard .card .box .content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.1);
}

body .containercard .card .box .content h3 {
  font-size: 1.8rem;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

body .containercard .card .box .content p {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.5s;
}

body .containercard .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
body .containercard .card .box .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}
